<?xml version="1.0" encoding="UTF-8"?>
<server description="SampleServer">

  <featureManager>
    <feature>cdi-3.0</feature>
    <feature>restfulWS-3.0</feature>
    <feature>jsonb-2.0</feature>
    <feature>persistence-3.0</feature>
    <feature>mpConfig-3.0</feature>
    <feature>mpOpenAPI-3.0</feature>
    <feature>mpHealth-4.0</feature>
    <feature>mpMetrics-4.0</feature>
  </featureManager>

  <variable name="default.http.port"  defaultValue="8080"/>
  <variable name="default.https.port" defaultValue="8443"/>
  <variable name="app.jdbc.url"       defaultValue="jdbc:h2:mem:test" />
  <variable name="app.jdbc.username"  defaultValue="sa" />
  <variable name="app.jdbc.password"  defaultValue="sa" />
  <variable name="app.sample.config"  defaultValue="ValueFromServerXml" />

  <httpEndpoint id="defaultHttpEndpoint" 
    host="*"
    httpPort="${default.http.port}" 
    httpsPort="${default.https.port}" />

  <webApplication location="sample-openliberty.war" contextRoot="/" />
  
  <library id="h2JdbcLib">
    <fileset dir="${shared.resource.dir}" includes="h2-*.jar"/>
  </library>

  <dataSource id="taskDS" jndiName="jdbc/taskDS">
    <jdbcDriver libraryRef="h2JdbcLib" />
    <properties URL="${app.jdbc.url}" user="${app.jdbc.username}" password="${app.jdbc.username}"/>
  </dataSource>

</server>
