<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Task Details</title>
  </head>
  <body>
    <p><a href="../tasks">[Tasks Overview]</a> <a href="?action=edit">[Edit]</a></p>
    <h1>Task Details</h1>
    <table>
      <tr>
        <td>ID</td>
        <td><span th:text="${task.taskId}">ID</span></td>
      </tr>
      <tr>
        <td>Updated</td>
        <td><span th:text="${task.timestamp}">Timestamp</span></td>
      </tr>
      <tr>
        <td>Title</td>
        <td><span th:text="${task.title}">String</span></td>
      </tr>
      <tr>
        <td>Description</td>
        <td><span th:text="${task.description}">String</span></td>
      </tr>
      <tr>
        <td></td>
        <td><input type="checkbox" name="done" th:checked="${task.done}" disabled="disabled"> Done</td>
      </tr>
    </table>
  </body>
</html>
