<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Tasks Overview</title>
  </head>
  <body>
    <p><a href="../..">[Home]</a></p>
    <h1>Tasks Overview</h1>
    <table>
      <tr>
        <th>ID</th>
        <th>Created</th>
      <tr th:each="task : ${tasks}">
        <td>      
          <a th:href="'tasks/' + ${task.eventId}">
            <span th:text="${task.eventId}">ID</span>
          </a>
        </td>
        <td>
          <span th:text="${task.timestamp}">Timestamp</span>
        </td>
      </tr>
    </table>
  </body>
</html>
